﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.ListPluginsModel
@{
    ViewBag.Title = ContentFactory.GetContent("plugins");
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">

    <div class="well col-sm-12" style="margin: 20px 0px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@ContentFactory.GetContent("name")</th>
                        <th>@ContentFactory.GetContent("plugin_identifier")</th>
                        <th>@ContentFactory.GetContent("assembly_name")</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Plugins != null)
                    {
                        foreach (var plugin in Model.Plugins)
                        {
                            <tr>
                                <td>@plugin.Name</td>
                                <td>@plugin.Identifier</td>
                                <td>@plugin.AssemblyName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
