﻿@using PGI.SB2.App.Utilities
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/styles")
    </head>
    <body>
        <div id="wrap">
            @if (ViewBag.Session != null)
            {
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">@ContentFactory.GetContent("toggle_navigation")</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="~/Content/Images/pgi-logo-small.png" />&nbsp;@ContentFactory.GetContent("application_name")</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="menu" class="nav navbar-nav">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ContentFactory.GetContent("assets") <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Asset")"><span class="glyphicon glyphicon-search"></span> @ContentFactory.GetContent("search")</a></li>
                                        <li><a href="@Url.Action("Upload", "Asset")"><span class="glyphicon glyphicon-cloud-upload"></span> @ContentFactory.GetContent("upload")</a></li>
                                    </ul>
                                </li>
                                @*<li>@Html.ActionLink(ContentFactory.GetContent("assets"), "Index", "Asset")</li>*@
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink(ContentFactory.GetContent("manage"), "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                                <li>@Html.ActionLink(ContentFactory.GetContent("log_off"), "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

            <div class="content container">
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="credit">
                    
                    <div class="text-muted text-center">@Html.ActionLink(ContentFactory.GetContent("contact"), "Contact", "Home") | @Html.ActionLink(ContentFactory.GetContent("about"), "About", "Home") </div>
                    <div class="text-muted text-center copyright">&copy; @DateTime.Now.Year - @ContentFactory.GetContent("footer_text") | @System.Environment.MachineName </div>
                </div>
            </div>
        </footer>

        <div id="loading-overlay"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        @Scripts.Render("~/Bundles/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
