﻿@using PGI.SB2.App.Utilities
@if (Request.IsAuthenticated) {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(ContentFactory.GetContent("manage"), "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
            <li>@Html.ActionLink(ContentFactory.GetContent("log_off"), "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
        </ul>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(ContentFactory.GetContent("register"), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(ContentFactory.GetContent("log_in"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
