﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.LoginModel

@{
    ViewBag.Title = ContentFactory.GetContent("log_in");
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <img class="signin-emblem" src="~/Content/Images/pgi-logo.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@ContentFactory.GetContent("please_log_in")</h3>
            </div>
            <div class="panel-body">
                <form action="/Account/Login" class="form-signin" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, @ContentFactory.GetContent("please_correct_errors"), new { @class = "alert alert-danger" })
                    <fieldset>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = ContentFactory.GetContent("username") })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = ContentFactory.GetContent("password") })
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="RememberMe" /> @ContentFactory.GetContent("remember_me")
                            </label>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="@ContentFactory.GetContent("log_in")" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
