﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.RegisterModel
@{
    ViewBag.Title = ContentFactory.GetContent("create_new_account");
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<form action="/Account/Register" class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <label class="col-sm-3 control-label" for="txtUserName">@ContentFactory.GetContent("username")</label>
        <div class="col-sm-4">
            <input type="text" id="txtUserName" name="UserName" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="txtEmail">@ContentFactory.GetContent("email")</label>
        <div class="col-sm-4">
            <input type="text" id="txtEmail" name="Email" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="txtPassword">@ContentFactory.GetContent("password")</label>
        <div class="col-sm-4">
            <input type="password" id="txtPassword" name="Password" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="txtConfirmPassword">@ContentFactory.GetContent("confirm_password")</label>
        <div class="col-sm-4">
            <input type="password" id="txtConfirmPassword" name="Password" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <input type="submit" value="@ContentFactory.GetContent("create_account")" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
