﻿@using PGI.SB2.App.Utilities
@{
    ViewBag.Title = ContentFactory.GetContent("tests");
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bookmark"></span> @ContentFactory.GetContent("tests")
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Create100", "Test")" class="btn btn-danger btn-lg btn-block" role="button"> @ContentFactory.GetContent("create_100_assets")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

