﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.AssetAddVersionModel
@{
    ViewBag.Title = ContentFactory.GetContent("add_new_version");
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-asset-add-version").validate({
                rules: {
                    Notes: "required",
                    File: "required"
                },
                submitHandler: function (form) {
                    ShowLoadingModal();
                    form.submit();
                }
            });

        });
    </script>
}

<div class="page-header">
    <h1><span class="glyphicon glyphicon-plus-sign"></span> @ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form id="form-asset-add-version"  action="@Url.Action("AddVersion", "Asset")" class="form-horizontal" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, @ContentFactory.GetContent("please_correct_errors"), new { @class = "alert alert-danger" })

            <input type="hidden" name="AssetID" value="@Model.AssetID" />

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label">@ContentFactory.GetContent("name")</label>
                <div class="col-md-6">@Model.Name</div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="Notes">@ContentFactory.GetContent("notes")</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="txtFileName">@ContentFactory.GetContent("file_name")</label>
                <div class="col-md-6">
                    <input type="file" id="txtFileName" name="File" required="required" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> @ContentFactory.GetContent("upload")</button>
                </div>
            </div>

        </form>
    </div>
</div>
