﻿@using PGI.SB2.App.Utilities;
@model PGI.SB2.App.Models.AssetDisplayViewModel

@{
    ViewBag.Title = Model.Asset.Name;
}

@section Scripts {

}

<div class="page-header">
    <h1>@Model.Asset.Name v@(Model.Asset.CurrentVersionNumber)</h1>
</div>

@*<div class="form-group">
    <label class="col-sm-3 control-label" for="txtCompanyID">@ContentFactory.GetContent("company_id")</label>
    <div class="col-sm-4">@Model.CompanyID</div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="txtCompanyName">@ContentFactory.GetContent("company_name")</label>
    <div class="col-sm-4">@Model.CompanyName</div>
</div>*@

@if (Model.Asset.CurrentVersion != null && !string.IsNullOrEmpty(@Model.Asset.CurrentVersion.PluginErrorMessage))
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>@ContentFactory.GetContent("plugin_error")</strong>: @Model.Asset.CurrentVersion.PluginErrorMessage &nbsp;

        <a href="#" data-toggle="modal" data-target="#modalPluginResults">@ContentFactory.GetContent("view_plugin_results")</a>
    </div>
}

    <div class="container-fluid well" style="padding: 50px 0px;">
        <div class="row-fluid">
            <div class="col-sm-4">
                @switch (Model.Asset.SourceFileExtension.ToLower())
                {
                    case ".jpg":
                    case ".png":
                    case ".gif":
                        <img class="img-responsive center-block" src="@Model.Asset.DownloadURL">
                        break;
                    case ".wav":
                        <img class="img-responsive center-block" src="~/Content/Images/asset-audio.png">
                        break;
                    case ".mp3":
                        <img class="img-responsive asset-icon" src="~/Content/Images/asset-audio.png">
                        <div>
                            <audio controls style="width:100%;">
                                <source src="@Model.Asset.DownloadURL" type="audio/mpeg">
                                @ContentFactory.GetContent("unsupported_format")
                            </audio>
                        </div>
                        break;
                    case ".mp4":
                        <video width="320" height="240" controls>
                            <source src="@Model.Asset.DownloadURL" type="video/mp4">
                            @ContentFactory.GetContent("unsupported_format")
                        </video>
                        break;
                    default:
                        <img class="img-responsive center-block" src="~/Content/Images/asset-generic.png">
                        break;
                }
            </div>

            <div class="col-sm-6">
                <h6>@ContentFactory.GetContent("company_id"): <strong>@Model.Asset.CompanyID</strong></h6>
                <h6>@ContentFactory.GetContent("company_name"): <strong>@Model.Asset.CompanyName</strong></h6>
                <h6>@ContentFactory.GetContent("conference_id"): <strong>@Model.Asset.ConferenceID</strong></h6>
                <h6>@ContentFactory.GetContent("conference_name"): <strong>@Model.Asset.ConferenceName</strong></h6>
                <h6>@ContentFactory.GetContent("event_start_utc"): <strong>@Model.Asset.EventStartUTC</strong></h6>
                <h6>@ContentFactory.GetContent("event_end_utc"): <strong>@Model.Asset.EventEndUTC</strong></h6>
                <h6>@ContentFactory.GetContent("moderator_name"): <strong>@Model.Asset.ModeratorName</strong></h6>
                <h6>@ContentFactory.GetContent("moderator_email"): <strong>@Model.Asset.ModeratorEmail</strong></h6>
                <h6>@ContentFactory.GetContent("region_name"): <strong>@Model.Asset.RegionName</strong></h6>
            </div>

            <div class="col-sm-2">
                <div class="btn-group">
                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-info">
                        @ContentFactory.GetContent("action") 
                        <span class="icon-cog icon-white"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Model.Asset.DownloadURL" target="_blank"><span class="glyphicon glyphicon-download"></span> @ContentFactory.GetContent("download_selected_version") </a></li>
                        <li><a href="@Url.Action("AddVersion", "Asset", new { id = Model.Asset.AssetID })"><span class="glyphicon glyphicon-plus-sign"></span> @ContentFactory.GetContent("add_new_version")</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modalPluginResults"><span class="glyphicon glyphicon-eye-open"></span> @ContentFactory.GetContent("view_plugin_results")</a></li>

                        @if (Model.Asset.CurrentVersion != null && !string.IsNullOrEmpty(@Model.Asset.CurrentVersion.PluginErrorMessage))
                        {
                            <li><a href="@Url.Action("RunPlugins", "Asset", new { id = Model.Asset.AssetID, versionId = Model.Asset.CurrentVersionID })"><span class="glyphicon glyphicon glyphicon-repeat"></span> @ContentFactory.GetContent("rerun_plugins")</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>@ContentFactory.GetContent("version")</th>
                    <th>@ContentFactory.GetContent("created_by")</th>
                    <th>@ContentFactory.GetContent("create_date")</th>
                    <th>@ContentFactory.GetContent("file_name")</th>
                    <th>@ContentFactory.GetContent("notes")</th>
                    <th>@ContentFactory.GetContent("plugins")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.Asset.Versions)
                {
                    string tableClass = (Model.Asset.CurrentVersionID == version.VersionID) ? "selected-version" : "";
                    <tr class="@tableClass">
                        @if (Model.Asset.CurrentVersionID == version.VersionID)
                        {
                            <td>@Model.Asset.Name v@(version.VersionNumber)</td>
                        } else {
                            <td><a href="@Url.Action("Display", "Asset", new { id = Model.Asset.AssetID, versionId = version.VersionID })">@Model.Asset.Name v@(version.VersionNumber)</a></td>
                        }
                            
                        <td>@version.CreateUser</td>
                        <td>@version.CreateDateUTC.ToString()</td>
                        <td>@version.SourceFileName</td>
                        <td>@version.Notes</td>
                        <td>
                            @if (string.IsNullOrEmpty(version.PluginErrorMessage))
                            {
                                <span class="label label-success">@ContentFactory.GetContent("pass")</span>
                            }
                            else
                            {
                                <span class="label label-danger">@ContentFactory.GetContent("fail")</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modalPluginResults" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@ContentFactory.GetContent("results")</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@ContentFactory.GetContent("plugin_id")</th>
                                <th>@ContentFactory.GetContent("run_date")</th>
                                <th class="text-center">@ContentFactory.GetContent("attempts")</th>
                                <th class="text-center">@ContentFactory.GetContent("completed")</th>
                            </tr>
                        </thead>
                        
                        @if (Model.Asset.CurrentVersion != null)
                        {
                            foreach (var result in Model.Asset.CurrentVersion.PluginResults)
                            {
                                <tr class="@(result.Result == false ? "danger" : null)">
                                    <td>@Model.GetPluginNameForId(result.Id)</td>
                                    <td>@result.RunAt</td>
                                    <td class="text-center">@result.Att</td>
                                    <td class="text-center">@result.Result</td>
                                </tr>
                            }
                        }
                        
                    </table>
                </div>
            </div>
        </div>
    </div>

