﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.AssetSearchResultModel
@{
    ViewBag.Title = @ContentFactory.GetContent("search");
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#form-asset-search").validate({
                rules: {
                    SearchPhrase: "required"
                },
                submitHandler: function (form) {
                    ShowLoadingModal();
                    form.submit();
                }
            });

            $(".result-pager-item").click(function (e) {
                $("#txtSearchPhrase").val("@Model.SearchPhrase");
                $("#txtCurrentPage").val($(this).attr("data-value"));
                $("#form-asset-search").submit();
                e.preventDefault();
            });

        });
    </script>
}

<div class="page-header">
    <h1><span class="glyphicon glyphicon-search"></span> @ViewBag.Title</h1>
</div>

    <div class="row">
        <div class="col-sm-12">
            <form id="form-asset-search" action="@Url.Action("Index", "Asset")" class="form-horizontal" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, @ContentFactory.GetContent("please_correct_errors"), new { @class = "alert alert-danger" })

                <input id="txtCurrentPage" type="hidden" name="CurrentPage" value="0" />

                <div class="input-group">
                    <input id="txtSearchPhrase" type="text" class="form-control" name="SearchPhrase" value="@(Model != null ? Model.SearchPhrase : "")" placeholder="@ContentFactory.GetContent("enter_search_terms")" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /.col-lg-6 -->
    </div>

@if (!string.IsNullOrEmpty(Model.SearchPhrase))
{
    <div class="well col-sm-12" style="margin: 20px 0px;">
        <div class="space-container-bottom text-right">
            <ul id="pager-top" class="pagination">
                @if (Model.CurrentPage > 0)
                {
                    <li><a class='result-pager-item' href='#' data-value="@(Model.CurrentPage - 1)">&laquo;</a></li>
                }
                @for (int i = Model.StartPage; i < Model.EndPage; i++)
                {
                    <li class="@(i == Model.CurrentPage ? "active" : null)"><a class="result-pager-item" href="#" data-value="@i.ToString()">@((i + 1).ToString())</a></li>
                }
                @if (Model.CurrentPage < Model.PageCount - 1)
                {
                    <li><a class='result-pager-item' href='#' data-value="@(Model.CurrentPage + 1)">&raquo;</a></li>
                }
            </ul>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>@ContentFactory.GetContent("name")</th>
                    <th>@ContentFactory.GetContent("company_id")</th>
                    <th>@ContentFactory.GetContent("company_name")</th>
                    <th>@ContentFactory.GetContent("moderator_name")</th>
                    <th>@ContentFactory.GetContent("moderator_email")</th>
                    <th>@ContentFactory.GetContent("file_name")</th>
                    <th>@ContentFactory.GetContent("version")</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var result in Model.Results)
            {
                    <tr>
                        <td><a href="@Url.Action("Display", "Asset", new { id = result.AssetID.ToString() })"><span class="glyphicon glyphicon-eye-open"></span> @result.Name</a></td>
                        <td>@result.CompanyID</td>
                        <td>@result.CompanyName</td>
                        <td>@result.ModeratorName</td>
                        <td>@result.ModeratorEmail</td>
                        <td>@result.SourceFileName</td>
                        <td>@result.VersionCount.ToString()</td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
}


