﻿@using PGI.SB2.App.Utilities
@model PGI.SB2.App.Models.AssetUploadModel
@{
    ViewBag.Title = ContentFactory.GetContent("upload_asset");
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#form-asset-upload").validate({
                rules: {
                    Name: "required",
                    CompanyID: "required",
                    CompanyName: "required",
                    EventStart: "required",
                    EventEnd: "required",
                    RegionName: "required",
                    Notes: "required",
                    File: "required"
                },
                submitHandler: function (form) {
                    ShowLoadingModal();
                    form.submit();
                }
            });


            $(".datepicker").datetimepicker({
                format: "Y-m-d H:i"
            });

            $("#eventStartButton").click(function () {
                $("#EventStart").datetimepicker("show"); //support hide,show and destroy command
            });

            $("#eventEndButton").click(function () {
                $("#EventEnd").datetimepicker("show"); //support hide,show and destroy command
            });

            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });

        });
    </script>
}

<div class="page-header">
    <h1><span class="glyphicon glyphicon-cloud-upload"></span> @ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form id="form-asset-upload" action="@Url.Action("Upload", "Asset")" class="form-horizontal" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, @ContentFactory.GetContent("please_correct_errors"), new { @class = "alert alert-danger" })
            @*<input type="hidden" name="AssetID" value="@Model.AssetID"/>*@

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="Name">@ContentFactory.GetContent("name")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="CompanyID">@ContentFactory.GetContent("company_id")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.CompanyID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="CompanyName">@ContentFactory.GetContent("company_name")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ClientID">@ContentFactory.GetContent("client_id")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ClientID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ModeratorName">@ContentFactory.GetContent("moderator_name")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ModeratorName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ModeratorEmail">@ContentFactory.GetContent("moderator_email")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ModeratorEmail, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ConferenceID">@ContentFactory.GetContent("conference_id")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ConferenceID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ConferenceName">@ContentFactory.GetContent("conference_name")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ConferenceName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ConferenceLink">@ContentFactory.GetContent("conference_link")</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ConferenceLink, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="EventStart">@ContentFactory.GetContent("event_start_utc")</label>
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.EventStart, new { @class = "form-control datepicker", @data_format = "dd/MM/yyyy hh:mm:ss" })
                        <span class="input-group-btn" id="eventStartButton">
                            <button id="eventStartButton" class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="EventEnd">@ContentFactory.GetContent("event_end_utc")</label>
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.EventEnd, new { @class = "form-control datepicker", @data_format = "dd/MM/yyyy hh:mm:ss" })
                        <span class="input-group-btn" >
                            <button id="eventEndButton"  class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="ddlRegionName">@ContentFactory.GetContent("region_name")</label>
                <div class="col-md-6">
                    <select id="ddlRegionName" name="RegionName" class="form-control" >
                        <option value="us-west-2">United States</option>
                        <option value="eu-west-1">Europe</option>
                        <option value="ap-southeast-1">Asia Pacific</option>
                        <option value="sa-east-1">South America</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="txtNotes">@ContentFactory.GetContent("notes")</label>
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @rows="4", @cols="50" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-md-offset-1 control-label" for="txtFileName">@ContentFactory.GetContent("file_name")</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control" type="text" readonly="">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <span class="glyphicon glyphicon-file"></span> <input type="file" id="txtFileName" name="File" />
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> @ContentFactory.GetContent("upload")</button>
                </div>
            </div>
        </form>
    </div>

</div>
