﻿@using PGI.SB2.App.Utilities
@{
    ViewBag.Title = ContentFactory.GetContent("application_name");
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bookmark"></span> @ContentFactory.GetContent("shortcuts")
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Index", "Asset")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-search"></span> @ContentFactory.GetContent("search_existing_asset")</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Upload", "Asset")" class="btn btn-warning btn-lg btn-block" role="button"><span class="glyphicon glyphicon-cloud-upload"></span> @ContentFactory.GetContent("upload_new_asset")</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Index", "Test")" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-cloud-upload"></span> @ContentFactory.GetContent("tests")</a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="@Url.Action("Index", "Plugin")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-signal"></span> @ContentFactory.GetContent("plugins")</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
